@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

.button {
  &.is-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)};
  &.is-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)};
  &.is-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)};

  /* Stackoverflow */
  &.is-stackoverflow{color:#fff;background-color:#f48024;border-color:rgba(0,0,0,0.2)}
}
  .is-stackoverflow:focus,.is-stackoverflow.focus{color:#fff;background-color:#f48024;border-color:rgba(0,0,0,0.2)}
  .is-stackoverflow:active,.is-stackoverflow.active,.open>.dropdown-toggle.is-stackoverflow{color:#fff;background-color:#A83400;border-color:rgba(0,0,0,0.2)}
  .is-stackoverflow:active:hover,.is-stackoverflow.active:hover,.open>.dropdown-toggle.is-stackoverflow:hover,.is-stackoverflow:active:focus,.is-stackoverflow.active:focus,.open>.dropdown-toggle.is-stackoverflow:focus,.is-stackoverflow:active.focus,.is-stackoverflow.active.focus,.open>.dropdown-toggle.is-stackoverflow.focus{color:#fff;background-color:#A83400;border-color:rgba(0,0,0,0.2)}
  .is-stackoverflow:active,.is-stackoverflow.active,.open>.dropdown-toggle.is-stackoverflow{background-image:none}
  .is-stackoverflow.disabled:hover,.is-stackoverflow[disabled]:hover,fieldset[disabled] .is-stackoverflow:hover,.is-stackoverflow.disabled:focus,.is-stackoverflow[disabled]:focus,fieldset[disabled] .is-stackoverflow:focus,.is-stackoverflow.disabled.focus,.is-stackoverflow[disabled].focus,fieldset[disabled] .is-stackoverflow.focus{background-color:#A83400;border-color:rgba(0,0,0,0.2)}
  .is-stackoverflow .badge{color:#A83400;background-color:#fff}

.card {
  margin: 20px 0;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.projects {
  .content figure {
    margin: 0;
  }

  .scriviatende-figure {
    padding-top: 18px;
  }

  .trattori-figure {
    padding-top: 14px;
  }
}

.footer {
  padding: 1rem;
}

.socials {

  .level {
    justify-content: space-between;
  }

  @media screen and (max-width: 1025px) {
    .level {
      margin: 0 10%;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1215px) {
    .level {
      margin: 0 -80px;
    }
  }

  @media screen and (min-width: 1215px) and (max-width: 1408px) {
    .level {
      margin: 0 -40px;
    }
  }
}